<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<div th:fragment="navbar">
  <nav class="navbar navbar-expand navbar-dark bg-secondary p-0">
    <div class="collapse navbar-collapse justify-content-center ">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item me-5">
          <a class="nav-link position-relative" href="/admin/messages">
            <i class="bi bi-chat-text fs-1"></i>
            <span class="position-absolute my-3 translate-middle badge rounded-pill bg-danger">
                5
              </span>
          </a>
        </li>
        <li  class="nav-item" sec:authorize="hasRole('USER')">
          <a class="nav-link position-relative" href="/user/checkout">
            <i class="bi bi-cart2 fs-1"></i>
            <span id="cart-size" class="position-absolute my-3 translate-middle badge rounded-pill bg-danger" th:text="${#sets.size(shoppingCart)}"></span>
          </a>
        </li>
        <li  class="nav-item ms-4 pt-1" sec:authorize="hasRole('USER')">
          <a class="nav-link position-relative" href="/user">
            <i class="bi bi-person fs-1"></i>
          </a>
        </li>
        <li class="nav-item ms-4 pt-1 d-flex align-items-center gap-2" sec:authorize="hasRole('USER')">
          <span class="nav-link position-relative d-flex align-items-center gap-2 p-0">
            <i class="bi bi-cash-coin fs-1"></i>
              <span class="fs-5 text-light">
                $<span th:text="${balance != null ? balance : 0}">0</span>
              </span>
          </span>
        </li>


      </ul>
      <form th:action="@{/logout}" method="post" class="d-flex me-3">
        <button type="submit" class="btn btn-outline-light">Logout</button>
      </form>
    </div>
  </nav>
</div>
</body>
</html>
