<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" >
<body>
<div th:fragment="planPackage(planPackage, pageName)">
    <div class="card h-100 shadow align-items-stretch">

        <div class="card-header bg-light border-0 py-2 text-center">
            <span class="badge bg-secondary text-white small"
                  th:if="${planPackage.expiryDate}">
                <i class="bi bi-calendar-event me-1"></i>
                Available until: <span th:text="${#temporals.format(planPackage.expiryDate, 'dd/MM/yyyy')}">31/12</span>
            </span>
        </div>

        <div class="card-body d-flex flex-column justify-content-between">
            <div>
                <h5 class="fw-bold text-primary text-center mb-2" th:text="${planPackage.title}">Package Name</h5>

                <div class="justify-content-center mb-3">
                    <p class="text-muted fw-bolder small description-fixed" th:text="${planPackage.description}" th:title="${planPackage.description}">Package description that might be longer</p>
                </div>

                <!-- Begin grid layout for options -->
                <div class="row g-3 justify-content-center align-items-center text-center mt-5">
                    <!-- 3 Months -->
                    <div class="col-12 col-md-4">
                        <div class="subscription-option border align-items-center border-2 border-primary bg-light shadow-sm position-relative">
                            <div class="justify-content-center mt-4">
                                <span class="badge bg-warning text-dark position-absolute top-0 start-50 translate-middle" th:text="${planPackage.threeMonthDiscount + '% OFF'}">10% OFF</span>
                                <div class="fw-bold text-primary">3 Months</div>
                                <div class="fw-bolder text-dark"
                                     th:text="${#numbers.formatDecimal(planPackage.monthlyCost * (1.0 - planPackage.threeMonthDiscount/100.0), 1, 1) + '₪/month'}">
                                    224.0₪/month
                                </div>

                                <small class="text-muted">
                                    Total: <span class="fw-semibold"
                                                 th:text="${#numbers.formatDecimal(planPackage.monthlyCost * (1.0 - planPackage.threeMonthDiscount/100.0) * 3, 1, 1) + '₪'}"></span>
                                </small>
                            </div>
                            <form sec:authorize="hasRole('USER')" class="add-to-cart-form mx-auto justify-content-center mb-2" action="#" method="post">
                                <input type="hidden" name="pkgId" th:value="${planPackage.id}">
                                <input type="hidden" name="subPkgName"  value="Three Months">
                                <div th:if="${pageName == 'search'}">
                                    <button class="btn btn-outline-primary btn-sm mt-3" type="submit">
                                        <i class="bi bi-cart-plus me-1"></i>Add to Cart
                                    </button>
                                </div>
                                <div th:unless="${pageName == 'search'}">
                                    <button type="submit" class="btn btn-outline-primary mt-3">
                                        Remove from <i class="bi bi-cart-dash"></i>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- 6 Months -->
                    <div class="col-12 col-md-4">
                        <div class="subscription-option border border-2 border-warning bg-light shadow-sm position-relative">
                            <div class="justify-content-center mt-4">
                                <span class="badge bg-info text-dark position-absolute top-0 start-50 translate-middle" th:text="${planPackage.halfYearlyDiscount + '% OFF'}">15% OFF</span>
                                <div class="fw-bold" style="color: #d38933;">6 Months</div>
                                <div class="fw-bolder text-dark"
                                     th:text="${#numbers.formatDecimal(planPackage.monthlyCost * (1.0 - planPackage.halfYearlyDiscount/100.0), 1, 1) + '₪/month'}">
                                </div>

                                <small class="text-muted">
                                    Total: <span class="fw-semibold"  th:text="${#numbers.formatDecimal(planPackage.monthlyCost * (1 - planPackage.halfYearlyDiscount / 100) * 6, 1, 1)} + '₪'"></span>
                                </small>
                            </div>
                            <form sec:authorize="hasRole('USER')" class="add-to-cart-form mx-auto justify-content-center mb-2" action="#" method="post">
                                <input type="hidden" name="pkgId" th:value="${planPackage.id}">
                                <input type="hidden" name="subPkgName"  value="Six Months">
                                <div th:if="${pageName == 'search'}">
                                    <button class="btn btn-outline-warning btn-sm mt-3" type="submit" style="border-color: #d38933; color: #d38933;">
                                        <i class="bi bi-cart-plus me-1"></i>Add to Cart
                                    </button>
                                </div>
                                <div th:unless="${pageName == 'search'}">
                                    <button type="submit" class="btn btn-outline-warning btn-sm mt-3 d-none btn-remove">
                                        Remove from <i class="bi bi-cart-dash"></i>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- 12 Months -->
                    <div class="col-12 col-md-4">
                        <div class="subscription-option border border-2 border-success bg-light shadow-sm position-relative">
                            <div class="justify-content-center mt-4">
                                <span class="badge bg-success text-white position-absolute top-0 start-50 translate-middle" th:text="${planPackage.yearlyDiscount + '% OFF'}">25% OFF</span>
                                <div class="fw-bold text-success">12 Months</div>
                                <div class="fw-bolder text-dark"
                                     th:text="${#numbers.formatDecimal(planPackage.monthlyCost * (1.0 - planPackage.yearlyDiscount/100.0), 1, 1) + '₪/month'}">
                                    224.0₪/month
                                </div>

                                <small class="text-muted">
                                    Total: <span class="fw-semibold" th:text="${#numbers.formatDecimal(planPackage.monthlyCost * (1 - planPackage.halfYearlyDiscount / 100) * 12, 1, 1)} + '₪'"></span>
                                </small>
                            </div>
                            <form sec:authorize="hasRole('USER')" class="add-to-cart-form mx-auto mb-2 justify-content-center" action="#" method="post">
                                <input type="hidden" name="pkgId" th:value="${planPackage.id}">
                                <input type="hidden" name="subPkgName"  value="Twelve Months">
                                <button class="btn btn-outline-success btn-sm mt-3" type="submit">
                                    <i class="bi bi-cart-plus me-1"></i>Add to Cart
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- End grid -->
            </div>
        </div>
    </div>
</div>
</body>
</html>
