<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<body>-->
<!--<div th:fragment="profileCard(profile)">-->
<!--    <div class="card mb-3 shadow border-0 rounded-4">-->
<!--        <div class="row g-0 align-items-center">-->
<!--            <div class="col-md-4 text-center p-2">-->
<!--                <img th:src="@{/provider-image/{id}(id=${profile.id})}" class="img-fluid rounded-circle shadow" style="width: 120px; height: 120px; object-fit: cover;" alt="profile picture"/>-->
<!--            </div>-->
<!--            <div class="col-md-8 px-3">-->
<!--                <h5 class="card-title text-primary fw-bold mb-1" th:text="${profile.providerName}"></h5>-->
<!--                <span class="badge bg-light text-dark mb-2 px-3 py-2 shadow-sm" th:text="${profile.category}">Category</span>-->
<!--                <hr class="my-2">-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->
